<footer>   
    <div class="footer-bottom ptb-35 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="copyright">
                        <p>©Copyright, 2018 All Rights Reserved by <a href="#">Bidding Web Solution</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="footer-payment-method">
                        <a href="#"><img alt="" src="../img/icon-img/payment.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>