<!doctype html>
<html class="no-js" lang="zxx">
  <% include head %>

    <body>
        <div class="wrapper">
            <!-- header start -->
        <% include adminheader %>

        <!-- <% include  slider %> -->
            
            
        <div class="overview-area pt-135 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="overview-content">
                            <h1><span>Welcome To eAuction</h1>
                            <br>    
                            <p>"Dear Administrator,<br>

                                Welcome to our exclusive administrative panel, meticulously designed to cater to your needs. Within this dynamic interface, you hold the reins of control, empowered to orchestrate every facet of your website's operations with precision and ease.
                                <br><br>
                                From user management to content moderation, and performance tracking, our comprehensive suite of features equips you to navigate website administration effortlessly. But beyond functionality, you'll find a dedicated support network ready to assist you at every turn.
                                <br><br>
                                Here, possibilities abound, and your vision is the guiding force. So, embrace the power at your fingertips, and let's embark on this journey of innovation together.
                                <br><br>
                                Welcome to your digital command center."</p>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

          
            <!-- footer -->
           
        </div>
        <% include adminFooter %>

        <% include footerLinks %>
    </body>
</html>
