<!doctype html>
<html class="no-js" lang="zxx">
<% include head %>
<script>



    function validation() {
        var flag = true
        var newPassword = document.getElementById('newPassword').value
        var confirmPassword = document.getElementById('confirmPassword').value
        var oldPassword = document.getElementById('oldPassword').value

        var err3 = document.getElementById('err3')
        var err1 = document.getElementById('err1')


        if (newPassword != confirmPassword || newPassword == '' || confirmPassword == '') {
            flag = false
            err3.innerHTML = 'New password and Confirm password is not match'
        }
        else
            err3.innerHTML = ""

        if (oldPassword == '') {
            flag = false
            err1.innerHTML = 'Old password is empty'
        }
        else
            err1.innerHTML = ""

        return flag
    }
</script>

<body>
    <div class="wrapper">
        <!-- header start -->
        <% include adminheader %>

        <!-- <% include  slider %> -->

        <!-- <div class="breadcrumb-area pt-255 pb-170" style="background-image: url(../img/banner/banner-4.jpg)">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <h2>Change Password</h2>
                    <ul>
                        <li>
                            <a href="#">home</a>
                        </li>
                        <li>Change Password</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="login-register-area pt-150 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="tab-content">
                                <div>
                                    <div class="login-form-container">
                                        <div class="login-form">
                                            <h1 class="text-center pb-2">Change Password !!!</h1>
                                            <span style="font-size:20px; color: orange; "> <%= Pcheck %> </span>
                                            <br>
                                            
                                            <form action="/admin/changePassword" method="post">

                                                <input type="hidden" name="uid" value="<%= sunm %>" />

                                                <label for="oldPassword">Old Password</label>
                                                <input type="password" name="oldPassword" placeholder="Old Password"
                                                    id="oldPassword" onkeyup="return validation()">
                                                <p id="err1"></p>

                                                <label for="newPassword">New Password</label>
                                                <input type="text" name="newPassword" placeholder="New Password"
                                                    id="newPassword">
                                                <p id="err2"></p>

                                                <label for="confirmPassword">Confirm Password</label>
                                                <input type="password" name="confirmPassword"
                                                    placeholder="Confirm Password" id="confirmPassword"
                                                    onkeyup="return validation()">
                                                <p id="err3"></p>

                                                <div class="button-box text-center">
                                                    <button type="submit" class="btn-style cr-btn"
                                                        onclick="return validation()"><span>Change
                                                            Password</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->

    </div>
    <% include adminFooter %>

    <% include footerLinks %>
</body>

</html>