<!doctype html>
<html class="no-js" lang="zxx">
  <% include head %>

    <body>
        <div class="wrapper">
            <!-- header start -->
        <% include header %>
             
        <div class="breadcrumb-area pt-255 pb-170" style="background-image: url(img/banner/banner-4.jpg)">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <h2>Contact Us</h2>
                    <ul>
                        <li>
                            <a href="#">home</a>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-area pt-130">
            <div class="container">
                <div class="contact-map">
                    <div id="map"></div>
                </div>
            </div>
            <div class="all-info ptb-130">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-info-wrapper">
                                <h4 class="contact-title">INFORMATION</h4>
                                <div class="communication-info">
                                    <div class="single-communication">
                                        <div class="communication-icon">
                                            <i class="ti-home" aria-hidden="true"></i>
                                        </div>
                                        <div class="communication-text">
                                            <h4>Address:</h4>
                                            <p>Miata 309 S Main St,Stafford, KS 67578</p>
                                        </div>
                                    </div>
                                    <div class="single-communication">
                                        <div class="communication-icon">
                                            <i class="ti-mobile" aria-hidden="true"></i>
                                        </div>
                                        <div class="communication-text">
                                            <h4>Phone:</h4>
                                            <p>0123 456 789 - 15 2368 4597</p>
                                        </div>
                                    </div>
                                    <div class="single-communication">
                                        <div class="communication-icon">
                                            <i class="ti-email" aria-hidden="true"></i>
                                        </div>
                                        <div class="communication-text">
                                            <h4>Email:</h4>
                                            <p><a href="#">Support@BootExperts.com</a></p>
                                        </div>
                                    </div>
                                    <div class="single-communication">
                                        <div class="communication-icon">
                                            <i class="ti-world" aria-hidden="true"></i>
                                        </div>
                                        <div class="communication-text">
                                            <h4>Website:</h4>
                                            <p><a href="#">https://DevItems.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-message-wrapper">
                                <h4 class="contact-title">GET IN TOUCH</h4>
                                <div class="contact-message">
                                    <form id="contact-form" action="" method="post">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="contact-form-style mb-20">
                                                    <input name="name" placeholder="Full Name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-form-style mb-20">
                                                    <input name="email" placeholder="Eail Address" type="email">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="contact-form-style mb-20">
                                                    <input name="subject" placeholder="Subject" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="contact-form-style">
                                                    <textarea name="message" placeholder="Massage"></textarea>
                                                    <button class="submit cr-btn btn-style" type="submit"><span>SEND MASSAGE</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter-area">
            <div class="container">
                <div class="newsletter-wrapper-all theme-bg-2">
                    <div class="row">
                        <div class="col-lg-5 col-12 col-md-12">
                            <div class="newsletter-img bg-img" style="background-image: url(img/banner/newsletter-bg.png)">
                                <img alt="image" src="img/team/newsletter-img.png">
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 col-md-12">
                            <div class="newsletter-wrapper text-center">
                                <div class="newsletter-title">
                                    <h3>Subscribe our newsletter</h3>
                                </div>
                                <div id="mc_embed_signup" class="subscribe-form">
                                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll" class="mc-form">
                                            <input type="email" value="" name="EMAIL" class="email" placeholder="Enter your email here..." required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div class="mc-news" aria-hidden="true"><input type="text" name="" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        </div>
        <% include footer %>

        <% include footerLinks %>
    </body>
</html>
