<!doctype html>
<html class="no-js" lang="zxx">
  <% include head %>

    <body>
        <div class="wrapper">
            <!-- header start -->
        <% include header %>

        <% include  slider %>
            
            
            <div class="overview-area pt-135">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="overview-content">
                                <h1><span>HopeTech</span> WORLD MOST </h1>
                                <h2>LATGEST <span>AUCTION STORE</span></h2>
                                <p><span>HopeTech</span> The world's largest auction store not only offers the finest quality of antique items but also provides a platform for individuals to sell their own items. With a vast collection of rare and unique artifacts, this store is a treasure trove for collectors and enthusiasts alike. Whether you're in search of timeless pieces or looking to part ways with your own treasures, this auction store offers a seamless experience, ensuring satisfaction for both buyers and sellers.  </p>
                                <div class="question-area">
                                    <h4>HAVE ANY QUESTION? </h4>
                                    <div class="question-contact">
                                        <div class="question-icon">
                                            <i class="icofont icofont-phone"></i>
                                        </div>
                                        <div class="question-content-number">
                                            <h6> 01245 658 698</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="overview-img">
                                <img class="tilter" src="img/banner/antique.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-area pt-135 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="banner-wrapper mb-30">
                                <a href="#"><img src="img/banner/banner-1.jpg" alt="image"></a>
                                <div class="banner-content">
                                    <h2>BUY NEW BIKE</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="banner-wrapper mb-30">
                                <a href="#"><img src="img/banner/a1.jpg" alt="image"></a>
                                <div class="banner-content">
                                    <h2>SELL YOUR ANTIQUE ITEMS</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="banner-wrapper mb-30">
                                <a href="#"><img src="img/banner/banner-3.jpg" alt="image"></a>
                                <div class="banner-content">
                                    <h2>BUY AND SELL ANYTHING</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accessories-area  pb-130">
                <div class="container-fluid">
                    <div class="section-title section-fluid text-center mb-60">
                        <h2>ACCESSORIES</h2>
                        <p><span>HopeTech</span> the largest online auction platform in the world, offers the latest quality products across various categories. You can buy and sell a wide range of items on Eauction</p>
                    </div>
                    <div class="accessories-wrapper">
                        <div class="product-accessories-active owl-carousel">
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="img/product/product-7.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $120</span>
                                            <h4><a href="product-details.html">Aerion Carbon Helmet</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img src="img/product/product-8.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $180</span>
                                            <h4><a href="">Reckles Jacket</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="">
                                        <img src="img/product/product-9.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $100</span>
                                            <h4><a href="">Brass Surahi</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="">
                                        <img src="img/product/product-10.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $140</span>
                                            <h4><a href="">Gift Item Set</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="">
                                        <img src="img/product/product-11.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $150</span>
                                            <h4><a href="">Bullock Cart</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img src="img/product/product-7.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $150</span>
                                            <h4><a href="product-details.html">Aerion Carbon Helmet</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img src="img/product/product-8.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $160</span>
                                            <h4><a href="product-details.html">Reckles Jacket</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img src="img/product/product-9.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <a class="action-plus-2" title="Add To Cart" href="#">
                                            <i class=" ti-shopping-cart"></i>
                                        </a>
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class=" ti-heart"></i>
                                        </a>
                                        <a class="action-reload" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class=" ti-zoom-in"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span>Price: $120</span>
                                            <h4><a href="product-details.html">Aerion Carbon Helmet</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-area">
                <div class="container">
                    <div class="section-title-2 section-title-position">
                        <h2>OUR CLIENTS REVIEW</h2>
                    </div>
                    <div class="testimonial-active owl-carousel">
                        <div class="single-testimonial">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="testimonial-img pl-75">
                                        <img alt="image" src="img/team/testimonial-1.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="testimonial-content">
                                        <div class="testimonial-dec">
                                            <p><span>HopeTech</span> "Wow! The largest Auction store in the world not only offers the latest quality motorcycles, vinatge cars, antique items and many more but also provides a platform for selling your own. It's incredible how they manage to accommodate such a vast variety of items. Every visit is a delight, with every need fulfilled. It's truly a place where all your desires are met. Highly recommended!"</p>
                                        </div>
                                        <div class="name-designation">
                                            <h4>Rayed Ayash Hisham</h4>
                                            <span>COO, ASEKHA</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="row">
                                <div class="col-lg-5 col-md-12 col-12">
                                    <div class="testimonial-img pl-75">
                                        <img alt="image" src="img/team/testimonial-2.png">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-12 col-12">
                                    <div class="testimonial-content">
                                        <div class="testimonial-dec">
                                            <p><span>HopeTech</span> Lorem ipsum dolor sit amet, consectetur adipisicing , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis dolor in reprehenderit.</p>
                                        </div>
                                        <div class="name-designation">
                                            <h4>James Momen Nirob</h4>
                                            <span>CEO, ASEKHA</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-area pt-150 pb-110">
                <div class="container">
                    <div class="section-title text-center mb-60">
                        <h2>BLOG POST</h2>
                        <p><span>HopeTech</span> At our E-auction platform, we pride ourselves on not only showcasing vintage cars, antique items, and a myriad of other products but also on being the go-to destination for the highest-selling racing bikes. Join us to witness the unmatched demand for these high-performance machines!</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-hm-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="#"><img src="img/blog/blog-hm-1.jpg" alt="image"></a>
                                    <div class="blog-date">
                                        <h4>24 February, 2024</h4>
                                    </div>
                                    <div class="blog-hm-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-hm-content">
                                    <h3><a href="#">Sports Motorbike for play in desert </a></h3>
                                    <p><span>HopeTech</span> the most latgest Eauction store in the wold can serve you latest qulity of motorcycle soucan sell here your motorcycle it quo </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-hm-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="#"><img src="img/blog/blog-hm-2.jpg" alt="image"></a>
                                    <div class="blog-date">
                                        <h4>22 February, 2024</h4>
                                    </div>
                                    <div class="blog-hm-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-hm-content">
                                    <h3><a href="#">Motorbike Racing at October</a></h3>
                                    <p><span>HopeTech</span> the most latgest Eauction store in the wold can serve you latest qulity of motorcycle soucan sell here your motorcycle it quo </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-hm-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="#"><img src="img/blog/blog-hm-3.jpg" alt="image"></a>
                                    <div class="blog-date">
                                        <h4>20 February, 2024</h4>
                                    </div>
                                    <div class="blog-hm-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-hm-content">
                                    <h3><a href="#">Latest Motorbike Release this Year </a></h3>
                                    <p><span>HopeTech</span> the most latgest Eauction store in the wold can serve you latest qulity of motorcycle soucan sell here your motorcycle it quo </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include  newsLatter %>
            <!-- footer -->
            <!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icofont icofont-close" aria-hidden="true"></span>
                </button>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="qwick-view-left">
                                <div class="quick-view-learg-img">
                                    <div class="quick-view-tab-content tab-content">
                                        <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                            <img src="img/quick-view/l1.jpg" alt="">
                                        </div>
                                        <div class="tab-pane fade" id="modal2" role="tabpanel">
                                            <img src="img/quick-view/l2.jpg" alt="">
                                        </div>
                                        <div class="tab-pane fade" id="modal3" role="tabpanel">
                                            <img src="img/quick-view/l3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="quick-view-list nav" role="tablist">
                                    <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                        <img src="img/quick-view/s1.jpg" alt="">
                                    </a>
                                    <a href="#modal2" data-toggle="tab" role="tab">
                                        <img src="img/quick-view/s2.jpg" alt="">
                                    </a>
                                    <a href="#modal3" data-toggle="tab" role="tab">
                                        <img src="img/quick-view/s3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="qwick-view-right">
                                <div class="qwick-view-content">
                                    <h3>Aerion Carbon Helmet</h3>
                                    <div class="price">
                                        <span class="new">$90.00</span>
                                        <span class="old">$120.00  </span>
                                    </div>
                                    <div class="rating-number">
                                        <div class="quick-view-rating">
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>Size*</label>
                                            <select class="select">
                                                <option value="">- Please Select -</option>
                                                <option value="">900</option>
                                                <option value="">700</option>
                                            </select>
                                        </div>
                                        <div class="select-option-part">
                                            <label>Color*</label>
                                            <select class="select">
                                                <option value="">- Please Select -</option>
                                                <option value="">orange</option>
                                                <option value="">pink</option>
                                                <option value="">yellow</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="quickview-plus-minus">
                                        <div class="cart-plus-minus">
											<input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
										</div>
                                        <div class="quickview-btn-cart">
                                            <a class="btn-style" href="#">add to cart</a>
                                        </div>
                                        <div class="quickview-btn-wishlist">
                                            <a class="btn-hover" href="#"><i class="icofont icofont-heart-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer %>

        <% include footerLinks %>
    </body>
</html>
